html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  display: flex;
  flex-direction: row;
}
.input {
  @extend .container;
  height: 3em;
}
.input > button {
  margin-left: auto;
}
